

<div role="main">

  <div class="wave-header">
    <img src="../../assets/images/purple-opacity-wave.svg" alt="">
  </div>
  <div class="mdc-layout-grid header">
    <div class="mdc-layout-grid__inner">
      <div class="mdc-layout-grid__cell--span-6 mdc-layout-grid__cell--align-middle">
        <h1>Help</h1>
        <h2>Learn how to use MAPS tool and explore case studies.</h2>
        <div class="button-container">
          <button mat-flat-button color="primary" routerLink="/story-one">Learn about maps tool</button>
          <button mat-flat-button color="primary">Explore use cases</button>
        </div>
      </div>
      <div class="mdc-layout-grid__cell--span-6">
        <img class="header-image" src="../../assets/images/help-illustration.svg" alt="">
      </div>
    </div>
  </div>
</div>

<div class="expansion-wrapper">
  <h1>Use cases</h1>
  <h2>Explore how the Maps tool can be used to answer various questions related to nutrition.</h2>
  <div class="expansion-border">
    <mat-accordion>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <p>Using household dietary recall data in MAPS</p>
          </mat-panel-title>
          <mat-panel-description>
            <a mat-raised-button color="primary" routerLink="/story-two" routerLinkActive="active">View</a>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>Description of what this user story is...</p>
      </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <p>Why spatially resolved food composition data matters</p>
          </mat-panel-title>
          <mat-panel-description>
            <a mat-raised-button color="primary" routerLink="/story-three" routerLinkActive="active">View</a>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>Description of what this user story is...</p>
      </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <p>What do we think the future micronutrient supply will be?</p>
          </mat-panel-title>
          <mat-panel-description>
            <a mat-raised-button color="primary" routerLink="/story-four" routerLinkActive="active">View</a>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>Description of what this user story is...</p>
      </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <p>Why do different datasets give different estimates of micronutrient deficiencies?</p>
          </mat-panel-title>
          <mat-panel-description>
            <a mat-raised-button color="primary" routerLink="/story-five" routerLinkActive="active">View</a>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>Description of what this user story is...</p>
      </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <p>How can I explore introducing changes into the food system?</p>
          </mat-panel-title>
          <mat-panel-description>
            <a mat-raised-button color="primary" routerLink="/story-six" routerLinkActive="active">View</a>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>Description of what this user story is...</p>
      </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <p>How can I use MAPS to the effectiveness of possible if food system changes?</p>
          </mat-panel-title>
          <mat-panel-description>
            <a mat-raised-button color="primary" routerLink="/story-seven" routerLinkActive="active">View</a>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>Description of what this user story is...</p>
      </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <p>How to compare different fortification options using your own input costs</p>
          </mat-panel-title>
          <mat-panel-description>
            <a mat-raised-button color="primary" routerLink="/story-eight" routerLinkActive="active">View</a>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>Description of what this user story is...</p>
      </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <p>How can I use MAPS Tool outputs in my presentations and reports?</p>
          </mat-panel-title>
          <mat-panel-description>
            <a mat-raised-button color="primary" routerLink="/story-nine" routerLinkActive="active">View</a>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>Description of what this user story is...</p>
      </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <p>
              How can I explore my own data in MAPS?
            </p>
          </mat-panel-title>
          <mat-panel-description>
            <a mat-raised-button color="primary" routerLink="/story-nine" routerLinkActive="active">View</a>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>Description of what this user story is...</p>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>

<router-outlet></router-outlet>
