@import "src/assets/scss/_colour";

.button-container {
  display: flex;
  button {
    margin: 0 1em;
  }
}

.expansion-wrapper {
  .expansion-border {
    width: 80%;
    border: 2px solid $color_primary;
    padding: 1em 1em 0em 1em;
    border-radius: 5px;
  }
  mat-accordion {
    // width: 100%;
    mat-expansion-panel {
      margin-bottom: 1em;
    }
    .mat-expansion-panel-header-description {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  }
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
