<nav>
  <ul>
    <li><a routerLink="/story-one" routerLinkActive="active">How the tool works</a></li>
    <li><a routerLink="/story-two" routerLinkActive="active">Second Story</a></li>
    <li><a routerLink="/story-three" routerLinkActive="active">Third Story</a></li>
    <li><a routerLink="/story-four" routerLinkActive="active">Forth Story</a></li>
    <li><a routerLink="/story-five" routerLinkActive="active">Fifth Story</a></li>
    <li><a routerLink="/story-six" routerLinkActive="active">Sixth Story</a></li>
    <li><a routerLink="/story-seven" routerLinkActive="active">Seventh Story</a></li>
    <li><a routerLink="/story-eight" routerLinkActive="active">Eighth Story</a></li>
    <li><a routerLink="/story-nine" routerLinkActive="active">Ninth Story</a></li>
  </ul>
</nav>
<router-outlet></router-outlet>
