<div role="main">

  <div class="wave-header">
    <img src="../../assets/images/purple-opacity-wave.svg" alt="">
  </div>
  <div class="mdc-layout-grid header">
    <div class="mdc-layout-grid__inner">
      <div class="mdc-layout-grid__cell--span-6 mdc-layout-grid__cell--align-middle">
        <h1>Help</h1>
        <h2>Learn how to use MAPS tool and explore case studies.</h2>
        <div class="button-container">
          <button mat-flat-button color="primary">Learn about maps tool</button>
          <button mat-flat-button color="primary">Explore use cases</button>
        </div>
      </div>
      <div class="mdc-layout-grid__cell--span-6">
        <img class="header-image" src="../../assets/images/help-illustration.svg" alt="">
      </div>
    </div>
  </div>



</div>

<nav>
  <ul>
    <li><a routerLink="/story-one" routerLinkActive="active">First Story</a></li>
    <li><a routerLink="/story-two" routerLinkActive="active">Second Story</a></li>
    <li><a routerLink="/story-three" routerLinkActive="active">Third Story</a></li>
    <li><a routerLink="/story-four" routerLinkActive="active">Forth Story</a></li>
    <li><a routerLink="/story-five" routerLinkActive="active">Fifth Story</a></li>
    <li><a routerLink="/story-six" routerLinkActive="active">Sixth Story</a></li>
    <li><a routerLink="/story-seven" routerLinkActive="active">Seventh Story</a></li>
    <li><a routerLink="/story-eight" routerLinkActive="active">Eighth Story</a></li>
    <li><a routerLink="/story-nine" routerLinkActive="active">Ninth Story</a></li>
  </ul>
</nav>
<router-outlet></router-outlet>
