
<h3>Select a Data Source</h3>
<select [(ngModel)]="selectedItem">
  <option value= "undefined" selected style="color: grey;">Select the Survey Type</option>
  <option *ngFor="let item of dataSourceArray" >{{ item }}</option>
</select>
<span *ngIf="selectedItem =='Household Consumption & Expenditure Surveys'">
  <table>
    <tr>
    <th> Benefits </th>
    <th> Limitations </th>
    </tr>
    <tr>
    <td  > ✓ High frequency (3-5 yr)
      <br> ✓ Nationally representative
      <br> ✓ Often cover the whole year
    </td>
    <td > !  Not specifically a nutrition survey
      <br> !  People forget things
      <br> !  People forget more things
    </td>
    </tr>
  </table>

</span>
<span *ngIf="selectedItem =='Food Balance Sheet data'">
  <table>
    <tr>
    <th> Benefits </th>
    <th> Limitations </th>
    </tr>
    <tr>
    <td  > ✓ Cover most nations globally
      <br> ✓ Consistent food names and reporting format
    </td>
    <td > !  Does not represent consumption
      <br> !  No spatial resolution
      <br> !  No seasonal variation
    </td>
    </tr>
  </table>
</span>

