@import 'src/assets/scss/_colour';

 #test-button {
  background-color: $color_primary;
  border: 1px solid $color_primary;
 }
.modal-outer {
  background-color: greenyellow;
  position: fixed;
  top: 0;
  left: 0;
  width: 100;
  height:100;
}
.modal-inner {
  background-color: lightblue;
  width: 500px;
  height:300px;
  padding: 25px;
  margin: 15%;
}

table {
  width:800px;
}
td.mat-cell {
  word-wrap: break-word;
  word-break:break-all;
}
option{
  width:auto;
  padding: 15px;
  margin: 15px;
  background-color: $color_background_form;
}
select {
  font-family: 'Quicksand';
  width:auto;
  padding: 15px;
  margin: 15px;
  background-color: $color_primary;
}

.ripple {
  width: 0;
  height: 0;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.4);
  transform: scale(0);
  position: absolute;
  opacity: 1;
}
.rippleEffect {
    animation: rippleDrop .6s linear;
}

@keyframes rippleDrop {
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

