<script type="text/javascript" src="https://cdn.knightlab.com/libs/storymapjs/latest/js/storymap-min.js"></script>
<div id="mapdiv" style="width: 100%; height: 600px;"></div>

<!-- Your script tags should be placed before the closing body tag. -->
<!-- <link rel="stylesheet" href="https://cdn.knightlab.com/libs/storymapjs/latest/css/storymap.css">
  <script type="text/javascript" src="https://cdn.knightlab.com/libs/storymapjs/latest/js/storymap-min.js"></script> -->

<script>
  // storymap_data can be an URL or a Javascript object
  const storymap_data = '';

  // certain settings must be passed within a separate options object
  const storymap_options = {
    width: 600,                // required for embed tool; width of StoryMap
    height: 600,               // required for embed tool; height of StoryMap
    font_css: 'Calibri',              // optional; font set
    calculate_zoom: true,              // optional; defaults to true.
    storymap: {
      language: 'en',          // required; two-letter ISO language code
      map_type: 'stamen:watercolor',          // required
      map_as_image: true,       // required
      // map_subdomains: string,    // optional
      slides: [{
        type: "overview",      // optional; if present must be set to "overview"
        // location: {            // required for all slides except "overview" slide
        //   lat: decimal,      // latitude of point on map
        //   lon: decimal       // longitude of point on map
        // },
        text: {                // optional if media present
          headline: 'TEST',
          text: 'TEST'       // may contain HTML markup
        },
        media: {               // optional if text present
          url: 'https://miro.medium.com/max/10368/1*1XPSskRR5Mbe3X01BmV3zw.jpeg',       // url for featured media
          // caption: string,   // optional; brief explanation of media content
          // credit: string     // optional; creator of media content
        }
      }]           // required; array of slide objects (see below)
    }
  };

  var storymap = new KLStoryMap.StoryMap('mapdiv', storymap_options);
  console.debug('call');
  window.onresize = function (event) {
    storymap.updateDisplay(); // this isn't automatic
  }
</script>
