@import 'src/assets/scss/_colour';
button {
  background-color: $color_primary;
  border: 1px solid $color_primary;
 }
 #test-button {
  background-color: $color_primary;
  border: 1px solid $color_primary;
 }
